<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Cognome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="col-4">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
  </div>
  <div class="col">
    <button class="btn btn-primary" (click)="onSubmit()">Sign in</button>
  </div>
</div>